/* Webpage font */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
}

/* Global settings */
:root {
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --super-blue: 0, 191, 255;
  --neon-blue: 0, 230, 255;
  --default-blue: 98, 156, 255;
  --accent-blue: 100, 108, 255;
  --background-blue: 25, 31, 40;

  --super-pink: 255, 191, 255;
  --neon-pink: 255, 230, 255;
  --pink-accent: 230, 190, 230;

  --font-white: 213, 213, 232;
  --font-black: 25, 31, 40;

  color-scheme: light dark;
  color: rgba(var(--font-black), 0.87);
  background: linear-gradient(rgb(var(--super-blue)), rgb(var(--super-pink)));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */

header>h1 {
  text-shadow: rgb(var(--neon-pink)) 0 0 22px;
  color: rgb(var(--super-pink));
  width: 100%;
  text-align: center;
  font-size: 8em;
  margin-top: 30px;
  margin-bottom: 0;
}
header>span {
  color: rgb(var(--neon-pink));
  position: absolute;
  top: 30px;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 8em;
}

/* FOOTER */
footer {
  height: 160px;
  width: 100%;
  background: rgb(var(--font-black));
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(var(--font-white));
  font-size: 14px;
  box-shadow: rgb(var(--font-black)) 0 -10px 6px 10px;
}

footer>.foot-block {
  width: 20%;
}
footer>.foot-block + #footer-block-infos {
  width: 40%;
}

footer>.foot-block>h3 {
  margin: 0;
}

footer>.foot-block>.foot-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 1.17rem - 9px);
}


footer>.foot-block>.foot-infos>* {
  margin: 4px;
}

.foot-link {
  display: flex;
}

.foot-link>.foot-icon {
  width: 18px;
  margin-right: 8px;
  margin-left: -26px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: space-between;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  box-shadow: rgba(16,16,16, 0.2) -15px 15px 4px ;
}
#app>#app-program {
  height: 600px;
}

#app>#app-program>#gpu-canvas {
  box-shadow: #191f28 0 0 6px ;
}

#app>#app-options {
  box-shadow: rgb(var(--font-white)) 0 0 4px ;
  background-color: rgba(var(--font-white), 0.2);
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#app-options>.slider-block {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-items: start;
  justify-content: space-evenly;
  align-items: center;
  grid-column-gap: 15px;
}

#app-options>.slider-block>label {
}

#app-options>.slider-block>input {
  width: 100%;
}

/* #region: Personalisation */
/* Input range */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 16px;
  border-radius: 12px;
  outline: none;
  transition: opacity 0.2s;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-container {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 3px rgba(var(--background-blue), 0.2);
  border-radius: 16px;
  height: 28px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  background-color: rgb(var(--default-blue));
  border: solid 3px rgba(var(--background-blue), 0.2);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: rgb(var(--default-blue));
  border: solid 3px rgba(var(--background-blue), 0.2);
}

input[type="range"]::-webkit-slider-runnable-track {
  --webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 12px;
  background-color: transparent;
  width: 10%;
  transition: ease-in-out 0.2s;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  border-radius: 16px;
  width: 100%;
  height: 22px;
  background-color: transparent;
  border: solid 3px rgba(var(--background-blue), 0.2);
  transition: ease-in-out 0.2s;
}

input[type="range"] + output {
  width: 30px;
  height: 30px;
  position: absolute;
  align-content: center;
  text-align: center;
  color: rgb(var(--font-white));
  display: none;
  line-height: 0;
  font-size: 12px;
  transform: translate(-15px, 50px);
}

input[type="range"] + output>span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 50%;
  background: rgba(var(--font-black), 0.8);
  transform: rotate(45deg) translateX(-30%) translateY(-30%);
  position: inherit;
  z-index: -1;
}

input[type="range"]:active + output {
  display: block;
}

input[type="range"]:active::-webkit-slider-thumb, input[type="range"]:active::-moz-range-thumb {
  background-color: rgb(var(--accent-blue));
}

/* Modals */
#modal-container {
  position: absolute;
  width: 0;
  height: 0;
}

:root:has(.modal[open="true"]) {
  overflow: hidden;
}

#modal-container>.modal {
  display: none;
  position: absolute;
  top: 0;
  transition: ease-in-out 0.3s;
}

#modal-container>.modal[open="true"] {
  display: flex;
  transform: translate(-50%, -50%);
  top: 50vh;
  padding: 1rem;
  z-index: 2;
  width: 40rem;
  min-height: 12rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(var(--neon-pink), 0.8);
  box-shadow: rgb(var(--super-pink)) 0 0 12px ;
}

#modal-container>.modal>.modal-head {
  padding: 0 0 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 3px solid rgba(var(--neon-pink), 0.4);
  position: relative;
}

#modal-container>.modal>.modal-head>.modal-head-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(var(--font-black), 0.4);
  font-style: italic;
  position: absolute;
  transform: translateY(2.3rem);
  left: 2rem;
}

#modal-container>.modal>.modal-body {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 1rem;
}

#modal-container>.modal>.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#modal-container>.modal>.modal-footer>button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: Montserrat, Arial, sans-serif;
  background-color: rgba(var(--default-blue), 0.4);
  box-shadow: rgba(var(--default-blue), 0.4) 0 0 6px ;
  border-radius: 4px;
  color: rgb(var(--font-white));
  transition: cubic-bezier(0.50, -1.50, 0.50, 1.50) 0.3s;
}

#modal-container>.modal>.modal-footer>button:hover {
  color: rgb(var(--font-white));
  background-color: rgba(var(--accent-blue), 0.6);
  box-shadow: rgba(var(--accent-blue), 0.4) 0 0 6px ;
  transform: scale(1.1);
  cursor: pointer;
}

#modal-background {
  width: 0;
  height: 0;
}

#modal-container:has(.modal[open="true"]) > #modal-background {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(var(--font-black), 0.6);
  backdrop-filter: blur(5px);
}

/* Liens */
a {
  font-weight: 500;
  color: rgb(var(--super-blue));
  text-decoration: inherit;
}
a:hover {
  color: rgb(var(--neon-blue));
  cursor: pointer;
}
