@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
}

:root {
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(22, 54, 80, 0.87);
  background: linear-gradient(rgb(0, 191, 255), rgb(255, 191, 255));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header>h1 {
  text-shadow: rgb(255, 230, 255) 0 0 22px;
  color: rgb(255, 191, 255);
  width: 100%;
  text-align: center;
  font-size: 8em;
  margin-top: 30px;
  margin-bottom: 0;
}
header>span {
  color: rgb(255, 230, 255);
  position: absolute;
  top: 30px;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 8em;
}

footer {
  height: 120px;
  width: 100%;
  background: #191f28;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #d5d5e8;
  font-size: 14px;
  box-shadow: #191f28 0 -10px 6px 10px;
}

footer>.foot-block {
  width: 40%;
}

footer>.foot-block>h3 {
  margin: 0;
}

footer>.foot-block>.foot-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 1.17rem - 9px);
}


footer>.foot-block>.foot-infos>* {
  margin: 4px;
}

.foot-link {
  display: flex;
}

.foot-link>.foot-icon {
  width: 18px;
  margin-right: 8px;
  margin-left: -26px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: space-between;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  box-shadow: rgba(16,16,16, 0.2) -15px 15px 4px ;
}
#app>#app-program {
  height: 600px;
}

#app>#app-program>#gpu-canvas {
  box-shadow: #191f28 0 0 6px ;
}

#app>#app-options {
  box-shadow: white 0 0 10px ;
  background-color: rgba(255, 255, 255, 0.5);
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type="range"] {
  accent-color: rgb(22, 54, 80);
  -webkit-appearance: none;
    appearance: none;
    background-color: rgb(98, 156, 201);
    height: 16px;
    border-radius: 8px;
    outline: none;
    transition: opacity 0.2s;
}

#app-options>.app-option {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-items: start;
  justify-content: space-evenly;
  align-items: center;
  grid-column-gap: 15px;
}

#app-options>.app-option>label {
}

#app-options>.app-option>input {
  width: 100%;
}

#app-options>.app-option>output {
  width: 30px;
  height: 30px;
  position: absolute;
  align-content: center;
  text-align: center;
  color: #d5d5e8;
  line-height: 5px;
  font-size: 12px;
  transform: translate(-15px, 140%);
}

#app-options>.app-option>output>span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 50%;
  background: rgba(25, 31, 40, 0.8);
  transform: rotate(45deg) translateX(-40%) translateY(-40%);
  position: inherit;
  z-index: -1;
}

#app-options>.app-option>input + output {
  display: none;
}

#app-options>.app-option>input:active + output {
  display: block;
}

